<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/Content/Img/favicon.ico">
    <!-- Core Stylesheet -->
    <link href="/Content/CSS/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title="infodeercreative@gmail.com">
                                    <i class="far fa-envelope text"></i> <span>infodeercreative@gmail.com : ایمیل </span>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122">
                                    <i class="fa fa-phone text" aria-hidden="true"></i> <span class="text">
                                        با ما تماس
                                        بگیرید:
                                    </span><span class="number"> +1 234 122 122</span>
                                </a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">

                                <!-- Login -->
                                <div class="login">
                                    <a href="#"><i class="fa fa-user text" aria-hidden="true"></i> <span>ورود</span></a>
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text" aria-hidden="true"></i> <span class="text">سبد خرید<span class="cart-quantity"> (1) </span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="~/Home/Index" class="nav-brand"><img src="/Content/Img/logo.png" /></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="~/Home/Index">صفحه اصلی</a></li>
                                    <li><a href="~/Home/AboutUs">درباره ما</a></li>
                                    <li>
                                        <a href="#" dir="ltr">صفحات</a>
                                        <ul class="dropdown text2">
                                            <li><a href="~/Home/Index">صفحه اصلی</a></li>
                                            <li><a href="~/Home/AboutUs">درباره ما</a></li>
                                            <li>
                                                <a href="~/Home/Shop">فروشگاه</a>
                                                <ul class="dropdown text2">
                                                    <li><a href="~/Home/Shop">فروشگاه</a></li>
                                                    <li><a href="cart.html">سبد خرید</a></li>
                                                    <li><a href="checkout.html">وارسی</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="portfolio.html">نمونه کارها</a>
                                                <ul class="dropdown">
                                                    <li><a href="portfolio.html">نمونه کارها</a></li>
                                                    <li><a href="#">جزئیات نمونه کارها</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="~/Home/Blog">وبلاگ</a></li>
                                            <li><a href="~/Home/BlogDetail">جزئیات وبلاگ</a></li>
                                            <li><a href="~/Home/ContactUs">تماس</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">فروشگاه</a></li>
                                    <li><a href="portfolio.html">نمونه کارها</a></li>
                                    <li><a href="~/Home/ContactUs">تماس</a></li>
                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search"
                                   placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    @RenderBody()

    <script src="~/Scripts/JS/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/JS/popper.min.js"></script>
    <script src="~/Scripts/JS/bootstrap.min.js"></script>
    <script src="~/Scripts/JS/plugins.js"></script>
    <script src="~/Scripts/JS/active.js"></script>
    <script src="~/Scripts/JS/Main.js"></script>
</body>
</html>
